{% extends "layout/basic.html" %}

{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}

{% block title %} {{master}} {% endblock %}

{% block content %}
<h2 class="mb-2">{{master}}</h2>
<div class="container-fluid mb-2">
    <div class="row">
        <div class="col">&nbsp;</div>
        <form class="col-md-auto form-inline">
            {% bootstrap_form form show_label=False %}
            {% bootstrap_button content='Поиск' button_type='submit' %}
        </form>
    </div>
</div>
{% if applications %}
<ul class="list-unstyled">
    {% for application in applications %}
    <li class="media my+15 p+13 border">
        {% url 'applicationbase:detail' master_pk=master.pk pk=application.pk as url %}
        <a href="{{url}}{{all}}">
            <h3>{{application.address}}</h3>
            {% if application.img_door_closer %}
            <img class="mr+3" src="{% thumbnail application.img_door_closer 'default' %}">
            {% endif %}
        </a>
        <div class="media-body">
            <h3><a href="{{url}}{{all}}">
                {{application.city}}
            </a></h3>
            <div>{{applcation.reason_for_calling}}</div>
            <p class="text-right font-weight-bold">{{application.address}} {{application.flat}}</p>
            <p class="text-right font-italic">{{application.published}}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% bootstrap_pagination page url=keyword %}
{% endif %}
{% endblock %}