{% extends "layout/basic.html" %}
{% load bootstrap4 %}

{% block title %} {{application.master}} - {{application.address}} {% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        {% if application.img_door_closer %}
        <div class="col-md-auto"><img src="{{application.img_door_closer.url}}" class="main-image"></div>
        {% endif %}
        <div class="col">
            <h2>Мастер: {{application.master}}</h2>
            <h3>Город: {{application.city}}</h3>
            <h3>Адрес: {{application.address}} {{application.flat}}</h3>
            <h4>Автор заявки: {{application.author}}</h4>
            <h4>ФИО клиента: {{application.full_name_client}}</h4>
             <h4>Причины вызова: {{application.reason_for_calling}}</h4>

            {% if application.treaty %}
            <p>Есть договор</p>
            {% endif %}
            {% if application.door_closer %}
            <h3>Нужна замена доводчика</h3>
            {% endif %}
            {% if application.monetary %}
            <h3>Денежная заявка</h3>
            {% endif %}

            <h4>Общая сумма: {{application.sum}}</h4>
            <h4>Премия: {{application.premium}}</h4>
            {% if application.fine %}
            <h3>Штраф: {{application.choose_fine}}</h3>
            {% endif %}

            <h4>Комментарии: {{application.comment}}</h4>
            <h4>Статус заявки: {{application.status}}</h4>
            <h4>Дата закарытия заявки: {{application.closing_date}}</h4>
            {% if application.calculated %}
            <h3>Деньги сданы</h3>
            {% endif %}

            <p class="">
            <a href="{% url 'applicationbase:profile_app_change' pk=application.pk %}"> Изменить</a>
            </p>
            <p class="">
            <a href="{% url 'applicationbase:profile_app_delete' pk=application.pk %}"> Удалить</a>
            </p>


            <p class="text-right font-italic">Дата подачи заявки: {{application.published}}</p>
        </div>
    </div>
</div>

{% if ais %}
<div class="d-flex justify-content-between flex-wrap mt-5">
    {% for ai in ais %}
    <div>
        <img src="{{ai.image.url}}" class="additional-image">
    </div>
    {% endfor %}
</div>
{% endif %}
<p><a href="{% url 'applicationbase:by_master' master_id=application.master.pk %}{{all}}">к заявкам {{application.master.full_name}}</a></p>

<h4 class="mt-5">Новый комментарий</h4>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons submit='Добавить' %} {% endbuttons %}
</form>
{% if comments %}
<div class="mt-5">
    {% for comment in comments %}
    <div class="my-2 p-2 border">
        <h5>{{comment.author}}</h5>
        <p>{{comment.content}}</p>
        <p class="text-right font-italic">{{comment.created_at}}</p>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}